.content {
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  size: 200px 200px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}

.title {
  display: inline-block;
  line-height: 152px;
}

.fibonacci_title {
  display: inline-block;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: -6px;
}

.cards_box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1240px;
  margin: 34px 0 64px;
  align-self: center;
}

.card {
  width: 400px;
  height: 220px;
  background-color: aliceblue;
  cursor: pointer;
  transition: var(--common-transition);
  border-radius: 20px;
}
.link {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: black;
}
.link__text {
  padding: 0px;
  margin: 0;
  padding-top: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
}
